*{
    margin: 0;
    box-sizing: border-box;
}


.layout__header{
    background-color: #FAA300;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button{
        margin-right: 10px;
        border: none;
        background-color: red;
        font-weight: 700;
        color: white;
        cursor: pointer;
        padding: 10px 20px;
        border-radius: 15px;
    }

    h1{
        color: white;
        margin: 10px 20px;
    }
}

.layout__footer{
    background-color: #FAA300;
    padding: 10px 10px;
    text-align: center;
}